* {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    margin: 0px;
    background-color: #0B2434;
    padding: 30px 20px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    transition: all 0.13s ease-in-out;
}

button:hover {
    filter: brightness(95%);
}

button:active {
    scale: 0.96;
}

#root {
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.die-container {
    width: 80%;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 18px;
}

.die-container > button {
    aspect-ratio: 1;
    max-width: 50px;
    width: 100%;
    background-color: white;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #00000026;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
}

.roll-butt {
    margin-top: 50px;
    box-sizing: content-box;
    width: 100px;
    height: 35px;
    padding: 5px;
    box-shadow: 0px 2px 2px 0px #00000043;

    background-color: #5035FF;
    border: none;
    border-radius: 4px;

    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}